{{#bulma-section}}
  {{#bulma-container}}
    {{#bulma-panel heading="Hello"}}
      {{#bulma-section}}
      <h2>Welcome to Razer Cars!</h2>
      <p>Your one stop shop for all your car stats needs!</p>
      {{#bulma-button isInfo=true}}See All Manufacturers{{/bulma-button}}
      {{/bulma-section}}
    {{/bulma-panel}}
  {{/bulma-container}}
{{/bulma-section}}
