<div class="card">
  <div class="card__header">
    <h1>Hello</h1>
  </div>
  <div class="card__body">
    <h2>Welcome to Razer Cars!</h2>
    <p>Your one stop shop for all your car stats needs!</p>
    <button class="orange">{{#link-to "manufacturer"}}See All Manufacturers{{/link-to}}</button>
  </div>
</div>
