<div class="card">
  <div class="card__header">
    <h1>Manufacturers</h1>
  </div>
  <div class="card__body">
    <table>
      <tr>
        <th>Manufacturer</th>
        <th>Country</th>
        <th>Number of Models</th>
        <th></th>
      </tr>
      {{#each model as |manufacturer|}}
        <tr>
          <td>{{manufacturer.name}}</td>
          <td>{{manufacturer.country}}</td>
          <td>{{manufacturer.cars.length}}</td>
          <td>{{#link-to "brands.car" manufacturer class="link"}}See more{{/link-to}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
