<div class="card">
  <div class="card__header">
    <h1>Edit Info for {{model.name}}</h1>
  </div>
  <form {{action "save" formValues on="submit"}} class="card__body">
    <div class="form-body">
      {{input value=formValues.name placeholder="Company Name"}}
      {{input value=formValues.code placeholder="ISO Country Code"}}
    </div>
    <div class="form-footer">
      {{#link-to "brands.car.index" model class="button blue"}}Back{{/link-to}}
      <button type="submit" class="orange">Submit</button>
    </div>
  </form>
</div>
